<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="company-logo">
            <img src="/assests/TrackWise.png" alt="">
        </div>
        <div class="user-info">
            <div class="profile">
                <img src="/assests/profile.png" width="60rem" alt="">
            </div>
            <div class="username">Pawan</div>
            <a class="logout-btn" href="http://localhost:3000/user/logout">LogOut</a>
        </div>
    </header>
    <div class="shareLocation-container">
        <div class="shareLocation-logo">
            <a href="http://localhost:3000/user/pawan/location"><img src="/assests/shareLocation.png" alt=""
                    height="60rem"></a>
        </div>
    </div>
</body>

</html>